<%= form_for @page, html: {role: 'form'} do |form| %>
  

    <%= form.text_field :name, class: 'form-control', :placeholder => 'Заголовок страницы' %>

    <%= form.text_field :permalink, class: 'form-control', :placeholder => 'Псевдоним' %>
    <span class="note">Это поле должно содержать только латинские буквы, цифры или сиволы "-" и "_"</span>

    <%= form.collection_select :parent_id, Page.order(:name), :id, :name, include_blank: true %>

    <%= form.text_area :content, class: 'form-control', :placeholder => 'Содержимое страницы' %>

    <%= form.text_field :place, class: 'form-control', :placeholder => 'Порядковый номер, больше - выше по порядку' %>
  
  <%= form.submit 'Опубликовать', :class => 'btn' %>
<% end %>

