<h1>Редактирование страницы</h1>

<%= render partial: 'admin/left_menu' %>
<div class="container798">
  <%= link_to 'Удалить страницу', page_path(@page.id), :method => :delete, :class=>"btn delpage" %>

  <div class="breadcrumbs"><%= link_to 'Статичные страницы', list_pages_path %></div>

  <h1><%= @page.name %></h1>

  <%= render :partial => 'pages/page_partials/basic_form' %>

</div>