<h1>Редактирование страницы</h1>

<nav class="subnav">
  <ul>
    <li><%= link_to 'Список новостей', list_news_items_path %>
    <li><%= link_to 'Статичные страницы', list_pages_path %>
    <li><a href="">Отзывы посетителей</a>
  </ul>

</nav>
<div class="container798">
  <%= link_to 'Удалить новость', page_path(@page.id), :method => :delete %>

  <div class="breadcrumbs"><%= link_to 'Статичные страницы', list_pages_path %></div>

  <h1><%= @page.name %></h1>

  <%= render :partial => 'pages/page_partials/basic_form' %>

</div>