<%= render partial: 'admin/left_menu' %>
<div class="container798">

  <%= link_to 'Добавить новость', new_news_item_path, :class => 'btn addnewpage' %>

  <h1>Страницы сайта</h1>

  <table>
    <thead>
    <tr>
      <th width="349">Заголовок</th>

      <th style="text-align:center">удалить</th>
    </tr>
    </thead>
    <% @news_items.each do |news_item| %>
        <tr>
          <td><%= link_to news_item.title, edit_news_item_path(news_item.id) %></td>
          <td align="center"><%= link_to 'X', news_item_path(news_item.id), :method => :delete %></td>
        </tr>
    <% end %>

  </table>
</div>
<%= will_paginate @news_items, :class => 'pagination', :previous_label => 'Назад', :next_label => 'Вперёд' %>