<%= render partial: 'admin/left_menu' %>
<div class="container798">

  <%= link_to 'Добавить изображение', new_image_path, :class => 'btn addnewpage' %>

  <h1>Изображения</h1>

  <table>
    <thead>
    <tr>
      <th width="349">ID</th>
      <th width="349">Адрес</th>
      <th style="text-align:center">удалить</th>
    </tr>
    </thead>
    <% @images.each do |image| %>
        <tr>
          <td><%= link_to image.id, edit_image_path(image.id) %></td>
          <td><%= image.pic.url %></td>
          <td align="center"><%= link_to 'X', image_path(image.id), :method => :delete %></td>
        </tr>
    <% end %>

  </table>
</div>