<nav class="mainav">
    <ul>
        <li class="parent">
            <%= link_to @licence.name, root_path  %>
            <ul class="submenu">
                <% @licence.children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>
        </li>
        <li class="parent">
            <%= link_to @layer_service.name, root_path  %>
            <ul class="submenu">
                <% @layer_service.children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>            
        </li>
        <li class="parent">
            <%= link_to @other_service.name, root_path  %>
            <ul class="submenu">
                <% @other_service.children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>            
        </li>
        <li class="parent">
            <%= link_to @about.name, root_path  %>
            <ul class="submenu">
                <% @about.children.each do |page_item| %>
                    <li><%= link_to page_item.name, page_item.permalink  %></li>
                <% end %>
            </ul>            
        </li>
    </ul>
</nav>