<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Личный юрист" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application' %>
  </head>
  <body>
       <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header>
            <div class="container">
                <address>
                    <div class="phone">+7 (918) 900-07-60</div>
                    <div class="worktime">пн-пт 9:00 - 18:30</div>
                    <div class="address">Санкт-Петербург, ул.Марата, 57</div>
                </address>

                <%= link_to '', root_path, :class => 'logo' %>
                <%= render partial: 'layouts/main_menu' %>
                
            </div>
        </header>

        <ul class="rslides" id="slider">
            <li>
              <%= image_tag('slider/slide01.png') %>
              <div class="caption">
                <h1>Правовое сопровождение<br>вашего бизнеса</h1>
                <p>Надежная команда профессиональных юристов и адвокатов всегда в вашем распоряжении. Мы решаем любые вопросы в срок и в строгой конфиденциальности.</p>
                <a href="/intellectualproperty" class="btn flr">Услуги для бизнеса</a>
              </div>
            </li>
            <li>
              <%= image_tag('slider/slide02.png') %>
              <div class="caption">
                <h1>Лицензирование деятельности<br>и сертификация товаров</h1>
                <p>Получение лицензии на осуществление лицензируемой деятельности — это требование законодательства, поэтому вопрос «зачем нужно лицензирование» здесь не стоит.</p>
                <a href="/alco" class="btn flr">Лицензирование и сертификация</a>
              </div>
            </li>
            <li>
              <%= image_tag('slider/slide03.jpg') %>
              <div class="caption">
                <h1>Сопровождение<br>сделок с недвижимостью</h1>
                <p>Хотите быть уверены, что ваша сделка с недвижимостью<br>в полном порядке? Мы поможем подготовить и оформить<br>все необходимые документы.</p>
                <a href="/registrationandrealestatetransactions" class="btn flr">Услуги для бизнеса</a>
              </div>
            </li>
        </ul>

       <p class="notice" style="margin:0;"><%= notice %></p>
       <p class="alert" style="margin:0;"><%= alert %></p>

        <div class="white">
            <div class="container940">
                <div class="services">
                    <h2>Чем мы можем быть вам полезны?</h2>
                    <div class="list">
                        <div class="item">
                            <a href="/registrationofcompanies" class="button"><span>Регистрация компаний<br> и обособленных подразделений</span></a>
                        </div>
                        <div class="item">
                            <a href="/alco" class="button"><span>Лицензирование<br> деятельности<br>и сертификация товаров</span></a>
                        </div>
                        <div class="item">
                            <a href="/intellectualproperty" class="button"><span>Регистрация объектов<br> интеллектуальной<br> собственности</span></a>
                        </div>
                        <div class="item">
                            <a href="/intellectualproperty" class="button"><span>Правовая защита объектов<br> интеллектуальной<br> собственности</span></a>
                        </div>
                        <div class="item">
                            <a href="/сonsultingandсustomerservice" class="button"><span>Правовой консалтинг</span></a>
                        </div>
                        <div class="item">
                            <a href="/lawyer" class="button"><span>Юридическое<br> представительство в судебных инстанциях</span></a>
                        </div>
                        <div class="item">
                            <a href="/registrationandrealestatetransactions" class="button"><span>Сопровождение сделок с<br> недвижимостью</span></a>
                        </div>
                        <div class="item">
                            <a href="/lawyer" class="button"><span>Защита в правоохранительных<br> органах</span></a>
                        </div>
                    </div>

                </div>
                <div class="partners">
                    <h2>Мы работаем со многими компаниями и предпринимателями, в том числе и с теми, кто занимает прочное место в экономике России.</h2>
                    <div class="logos">
                      <%= image_tag('partners/01.png', :class => 'logo') %>
                      <%= image_tag('partners/02.png', :class => 'logo') %>
                      <%= image_tag('partners/03.png', :class => 'logo') %>
                      <%= image_tag('partners/04.png', :class => 'logo') %>
                    </div>
                    <a href="#" class="btn flr">Рекомендации клиентов</a>                    
                </div>
                <div class="clearFix"></div>

            </div>
        </div>

        <div class="container940">
            <div class="fbform">
                <h2>Задайте вопрос юристу</h2>
                <h5>Бесплатно и конфиденциально</h5>



              <%= form_tag messages_path, :remote => true do %>
                  <%= text_field_tag :name, '', class: 'cut', :placeholder => 'Ваше имя' %>
                  <%= text_field_tag :phone, '', class: 'cut', :placeholder => '+7 ( ) - -' %>
                  <%= text_field_tag :email, '', :placeholder => 'Email' %>
                  <%= select_tag :category, options_for_select(['Выберите категорию вопроса']), include_blank: false %>
                  <%= text_area_tag :question, '', :placeholder => 'Ваш вопрос...' %>
                  <%= submit_tag 'Отправить запрос', :class => 'btn' %>
              <% end %>
                
            </div>

          <div class="fbform sent" style="display: none">
            <h2>Ваш вопрос отправлен</h2>
            <h5>Спасибо за обращение, мы свяжемся<br> с вами в ближайшее время.</h5>
          </div>

            <div class="news">
                
                <h1>Новости</h1>

               <%= link_to 'Архив новостей', news_items_list_path, :class => 'archlink' %>

                <% @news_items.each do |news_item| %>
                    <%= link_to news_item_show_path(news_item.id), :class => 'item' do %>
                        <div class="date"><%= news_item.created_at.to_formatted_s(:short) %></div>
                        <div class="intro"><%= news_item.title %></div>
                    <% end %>
                <% end %>
            </div>

        </div>

        <footer>
            <div class="container940">
                <a href="" class="btn">Как добраться?</a>
                <address>
                    <div class="address">Санкт-Петербург <span>ул.Марата, 57</span></div>

                    <div class="phone"> <div class="ico"></div> +7 (918) 900-07-60</div>
                    <div class="worktime">понедельник-пятница 9:00 - 18:30</div>
                </address>
                <p class="cprt">© 2010—2014, Юридическая компания «Личный Юрист»</p>
            </div>
        </footer>


  </body>
</html>
